@use "../colors.scss";

.Link {
	&.closed {
		.line {
			marker-mid: url(#arrowhead);
		}
	}
	&.complete {
		stroke: colors.$success-5;
	}
	&.in-progress {
		stroke: colors.$warning-5;
	}
	&.open {
		stroke: colors.$primary-5;
	}
	path {
		fill: none;
	}
	.line {
		stroke: inherit;
		stroke-width: 0.1px;
	}
	.ant {
		stroke: colors.$primary-7 !important;
		stroke-width: 0.1px;
		font-size: 0.1em;
	}
}
