@use "../colors.scss";

.Node {
	cursor: pointer;
	opacity: 1;
	.label {
		fill: colors.$grey-3;
		font-size: 0.1em;
		stroke: none;
	}

	&.closed {
		stroke: colors.$grey-9;
		stroke-width: 0.1px;
		fill: colors.$grey-9;
		.label {
			stroke: none;
			fill: colors.$grey-9;
		}
	}

	&.open {
		stroke: colors.$success-4;
		stroke-width: 0.1px;
		fill: colors.$success-7;
	}

	&.in-progress {
		stroke: colors.$warning-4;
		stroke-width: 0.1px;
		fill: colors.$warning-7;
	}

	&.completed {
		stroke: colors.$primary-4;
		stroke-width: 0.1px;
		fill: colors.$primary-7;
	}

	&.critical {
		stroke-width: 0;
	}
}
